
    <div class="col"><h2>{{name}}</h2></div>
    <div class="col">
        {{#each skills as |skill|}}
        {{name}}
        {{/each}}
   </div>
    <div class="col">
        {{#each project_team as |user|}}
        {{name}}
        {{/each}}
    </div>
    <div class="w-100"></div>