    <div class="col "> 
        <img src="./images/{{id}}.png" alt="" width="100" height="100"/>
    </div>

    <div class="col"><h2>{{name}}</h2></div>
    <div class="col">
        {{#each skills as |skill|}}
        {{name}}
        {{/each}}
   </div>
    <div class="col">
        {{#each user_projects as |project|}}
        {{name}}
        {{/each}}
    </div>
    <div class="w-100"></div>
