<tr>
    <td>
        <img src="./images/{{id}}.png" alt="" width="48" height="48"/>
    </td>

    <th scope="row">{{name}}</th> 

    <td>
        {{#each skills as |skill|}}
        {{name}}
        {{/each}}
   </td>
    <td>
        {{#each user_projects as |project|}}
        {{name}}
        {{/each}}
    </td>
    {{!-- <div class="w-100"></div> --}}
</tr>