<main>
    <div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">Find coders to work with!</h1>
        <p class="lead">Sign up to be listed on the site. Then start looking for people with the skills you need to complete your idea!</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/api/login/signup" role="button">Signup</a>
    </div>
</main>