<br>
<div class="container left-align user-container">
 <div class="d-flex justify-content-start">
    <div class="row left-align">
        <div class="col"><b>Project</b></div>
        <div class="col"><b>Skill</b></div>
        <div class="col"><b>Team</b></div>
        <div class="w-100"></div>
        {{#each projects as |project|}}
            {{> project-details}}
        {{/each}}
    </div>
  </div>   
</div>