<table class="table table-hover">
   <thead>
      <tr>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem;">Project</span></th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Skillt</span></th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Team</span></th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem;">Created</span> </th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Due date</span></th>
       </tr>
    </thead>
    <tbody>
        {{#each projects as |project|}}
            {{> project-details}}
        {{/each}}
    </tbody>
</table>