<table class="table table-hover">
   <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Skillt</th>
        <th scope="col">Team</th>
        <th scope="col">Created </th>
        <th scope="col">Due date</th>
       </tr>
    </thead>
    <tbody>
        {{#each projects as |project|}}
            {{> project-details}}
        {{/each}}
    </tbody>
</table>