<br>
<div class="container left-align">
 <div class="d-flex justify-content-start">
    <div class="row">
        <div class="col"><h3>picture</h3></div>
        <div class="col"><h3>Name</h3></div>
        <div class="col"><h3>Skill</h3></div>
        <div class="col"><h3>Project</h3></div>
        <div class="w-100"></div>
        {{#each users as |user|}}
            {{> user-details}}
        {{/each}}
    </div>
  </div>   
</div>