<table class="table table-hover">
   <thead>
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Skill</th>
        <th scope="col">Project </th>
       </tr>
    </thead>
    <tbody>
        {{#each users as |user|}}
            {{> user-details}}
        {{/each}}
    </tbody>
</table>