<table class="table table-hover ">
   <thead>
      <tr>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Picture</span></th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Name</span></th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Skill</span></th>
        <th scope="col"><span class="badge bg-primary text-white text-wrap" style="width: 4rem; height:1.5rem; ">Project</span> </th>
       </tr>
    </thead>
    <tbody>
        {{#each users as |user|}}
            {{> user-details}}
        {{/each}}
    </tbody>
</table>