<section class="container">

  <!-- session -->
  <h3>connected by: {{session.name}}</h3>

  <h3 class="user-name">{{user.name}}</h3>

  <section class="flex-row justify-center">
    {{#each user.skills as |skill|}}
    {{> skill-details}}
    {{/each}}
  </section>
</section>